.video-ref {
    height: min(100vh,1080px) !important;
    width: min(100vw,1920px) !important;
}
.video-player {
    height: min(100vh,1080px) !important;
    width: min(100vw,1920px) !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.video-player__overlay {
    height: min(100vh,1080px) !important;
    width: min(100vw,1920px) !important;
}
.persistent-player {
    margin-left: auto !important;
    margin-right: auto !important;
}