#columns {
    display: block !important;
}
.ytd-search {
    margin-left: auto;
    margin-right: auto;
}
#player {
    margin-top: 1% !important;
    margin-bottom: 1% !important;
}
#player-container {
    position: relative !important;
}
#container.ytd-player {
    margin-left: auto !important;
    margin-right: auto !important;
}
.html5-video-player.ytp-fullscreen {
    min-height: min(100vh,100vh) !important;
    min-width: min(100vw,100vw) !important;
}
.html5-main-video.video-stream {
    position: relative !important;
    object-fit: contain !important;
    height: max(100vh,fit-content) !important;
    width: max(100vw,fit-content) !important;
    min-height: min(100vh,1080px) !important;
    min-width: min(100vw,1920px) !important;
    top: auto !important;
    bottom: auto !important;
    left: 0px !important;
    right: 0px !important;
}
.ytd-watch-flexy {
    min-height: fit-content !important;
    min-width: fit-content !important;
    margin-top: auto !important;
    margin-bottom: auto !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 0px !important;
}
.ytp-player-content {
    object-fit: contain !important;
}
.ytp-chapter-hover-container {
    margin-left: auto !important;
    margin-right: auto !important;
}
.ytp-timed-markers-container {
    margin-left: auto !important;
    margin-right: auto !important;
}
.ytp-chrome-bottom {
    width: 98% !important;
    left: 1% !important;
    right: 1% !important;
}
.ytp-fullscreen-button::after {
    width: 0px !important;
    top: 0px !important;
    bottom: 0px !important;
}
#below, #top-row, #bottom-row, .ytd-comments {
    max-width: 1080px !important;
    margin-left: auto !important;
    margin-right: auto !important; 
    text-align: -webkit-center;
}
.ytd-metadata-row-container-renderer {
    display: none !important;
}
.ytd-watch-next-secondary-results-renderer {
    display: none !important;
}
#chat {
    display: none !important;
}
#playlist {
    display: none !important;
}
