ytd-search {
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 0px !important;
    overflow-y: hidden;
}
#columns {
    display: block !important;
}
#columns.ytd-watch-flexy {
    max-width: max-content !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 0px !important;
}
#player-container-inner.ytd-watch-flexy {
    padding: 0px !important;
}
#primary.ytd-watch-flexy {
    margin: 0px !important;
    padding: 0px !important;
}
#container.ytd-player {
    margin: 0 !important;
}
#player {
    margin-top: 1% !important;
    margin-bottom: 1% !important;
}
#player-container {
    position: relative !important;
}
#player.ytd-watch-flexy {
    height: fit-content !important;
    width: fit-content !important;
    min-height: fit-content !important;
    min-width: fit-content !important;
    max-height: fit-content !important;
    max-width: fit-content !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 0px !important;
}
#below.ytd-watch-flexy {
    margin-left: auto !important;
    margin-right: auto !important;
}
#below.ytd-watch-flexy,
.ytd-player,
.html5-video-player.ytp-fullscreen,
.html5-main-video,
.ytd-shorts {
    height: min(100vh,max(50vh,1080px)) !important;
    width: min(100vw,max(50vw,1920px)) !important;
}
.html5-main-video {
    position: relative !important;
    object-fit: contain !important;
    margin-left: auto !important;
    margin-right: auto !important;
    top: auto !important;
    bottom: auto !important;
    left: 0px !important;
    right: 0px !important;
}
.ytd-shorts {
    position: relative !important;
    object-fit: contain !important;
    top: auto !important;
    bottom: auto !important;
    left: 0px !important;
    right: 0px !important;
}
.ytp-player-content {
    object-fit: contain !important;
}
.ytp-hover-progress,
.ytp-scrubber-container {
    left: 0 !important;
    right: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.ytp-chapter-hover-container,
.ytp-timed-markers-container,
.ytp-progress-bar-padding {
    margin-left: auto !important;
    margin-right: auto !important;
}
.ytp-chrome-bottom {
    width: 98% !important;
    left: 1% !important;
    right: 1% !important;
}
.ytp-fullscreen-button::after {
    width: 0px !important;
    top: 0px !important;
    bottom: 0px !important;
}
#below, #top-row, #bottom-row, .ytd-comments {
    width: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important; 
    text-align: -webkit-center;
}
.banner-visible-area {
    display: none !important;
}
.ytd-metadata-row-container-renderer {
    display: none !important;
}
.ytd-watch-next-secondary-results-renderer {
    display: none !important;
}
#chat {
    display: none !important;
}
#playlist {
    display: none !important;
}
